{% load static %} <!DOCTYPE html>
<html>
  <head>

    <title>{% block title %} AfroEd {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link href="{% static 'img\profile.png' %}" rel="icon">

<!-- Change color address bar in mobile view -->
    <meta name="theme-color" content="#353A40" />

<!-- load Fonts -->
<link href="{% static 'Webfonts\acherusgrotesque_regular_macroman\stylesheet.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">

<!-- Including bootstrap & Additional styling -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block stylesheet %}
    {% endblock %}


  </head>

  <body>

      <!--1. Navigation bar -->

       {% include 'includes/nav-bar.html' %}

      <!--2. DeadCrumb -->

       <div>
       {% block deadC %}
         <ol class="breadcrumb my-4">
           {% block breadcrumb %}
           {% endblock %}
         </ol>
       {% endblock %}
         {% block content %}
         {% endblock %}
       </div>

      <!--3. Main Body -->

        {% block body %}
        {% endblock body %}

      <!--4. JavaScript -->

        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block javascript %}
        {% endblock %}

      <!--5. Footer -->

        {% include 'includes/footer.html' %}


  </body>

</html>
