{% extends "base.html" %}
{% load static %}
<!-- {% load crispy_forms_tags %} -->

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block content %}

<div class="container">

  <h1 class="text-center logo my-4">
    <a href="{% url 'home' %}">AfroEd</a>
  </h1>

  <p><a class="btn btn-primary" href="{% url 'afro_app_university_list' %}">Programs Listing</a></p>

  <form method="post">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">New Program</h3>
              <form method="post" novalidate>
                {% csrf_token %}
                <!-- {{form|crispy}} -->
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>

{% endblock %}
