{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'afro_app_scholarship_list' %}">Scholarship Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>type</td><td>{{ object.type }}</td></tr>
<tr><td>study_level</td><td>{{ object.study_level }}</td></tr>
<tr><td>description</td><td>{{ object.description }}</td></tr>
<tr><td>application_deadline</td><td>{{ object.application_deadline }}</td></tr>
<tr><td>logo</td><td>{{ object.logo }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Scholarship</a>

{% endblock %}